<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.study">
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bookshelfActivity" />
        <activity android:name=".ShowmapActivity" />
        <activity android:name=".RunActivity" />
        <activity android:name=".TabFourthActivity" />
        <activity android:name=".selfstudyActivity" />
        <activity android:name=".LoginForgetActivity" />
        <activity android:name=".login" />
        <activity android:name=".Pre_data" />
        <activity android:name=".Ctrl" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".TabFirstActivity" />
        <activity android:name=".TabSecondActivity" />
        <activity android:name=".TabThirdActivity" />
        <activity android:name=".BackgroundUtil" />

        <service
            android:name=".DetectService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/detection_service_config" />
        </service>

        <activity android:name=".MyApplication" />
        <activity android:name=".ProcessManager" />
        <activity android:name=".AndroidAppProcess" />
        <activity android:name=".AndroidProcess" />
        <activity android:name=".ProcFile" />
        <activity android:name=".Cgroup" />
        <activity android:name=".ControlGroup" />
        <activity android:name=".Stat" />
        <activity android:name=".Statm" />
        <activity android:name=".Status" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ef3c1318a8ba845c3fd7fe027ea4b9fd" />
    </application>

</manifest>